<a href="https://colab.research.google.com/github/sanoop-p-nambiar/machinelearning/blob/main/Multiple-linear-regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving IPL IMB381IPL2013 (1).csv to IPL IMB381IPL2013 (1).csv

In [ ]:
import pandas as pd
ipl_df=pd.read_csv("/content/IPL IMB381IPL2013 (1).csv")
print(ipl_df.info())
print(ipl_df.shape)
print(ipl_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB
None
(130, 26)
   Sl.NO.   PLAYER NAME  AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
0       1   Abdulla, YA    2      SA  KXIP   Allrounder       0       0
1       2  Abdur Razzak    2     BAN   RCB       Bowler     214      18
2       3   Agarkar, AB    2     IND   KKR       Bowler     571      58
3       4     Ashwin, R    1     IND   CSK       Bowler     284      31
4       5  Badrinath, S    2     IND   CSK      Batsman      63       0

   ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
0           0      0.00  ...    0.00       0     307    15   20.47   8.90
1         657     71.41  ...    0.00       0      29     0    0.00  14.50
2        1269     80.62  ...  121.01       5    1059    29   36.52   8.81
3         241     84.56  ...   76.32       0    1125    49   22.96   6.23
4          79     45.93  ...  120.71      28       0     0    0.00   0.00

   SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0  13.93          2009       50000       50000
1   0.00          2008       50000       50000
2  24.90          2008      200000      350000
3  22.14          2011      100000      850000
4   0.00          2011      100000      800000

[5 rows x 26 columns]

display the initial 10 columns for first 5 records

In [ ]:
ipl_df.iloc[0:5,:]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

use the revelent features to predict the players sold price

In [ ]:
X_features=['AGE','COUNTRY','PLAYING ROLE','T-RUNS','T-WKTS','ODI-RUNS-S','ODI-SR-BL','SR-B','SIXERS','RUNS-C','WKTS','AVE-BL','ECON','SR-B','CAPTAINCY EXP']

enode using dummy encoding or one-hot encoding(categorial data)

In [ ]:

categorical_features=['AGE','COUNTRY','PLAYING ROLE','CAPTAINCY EXP']
ipl_encoded_df=pd.get_dummies(ipl_df[X_features],columns=categorical_features,drop_first=True)
X_features=ipl_encoded_df.columns
print(X_features)
print(ipl_encoded_df.head(5))

Index(['T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-BL', 'SR-B', 'SIXERS',
       'RUNS-C', 'WKTS', 'AVE-BL', 'ECON', 'SR-B', 'AGE_2', 'AGE_3',
       'COUNTRY_BAN', 'COUNTRY_ENG', 'COUNTRY_IND', 'COUNTRY_NZ',
       'COUNTRY_PAK', 'COUNTRY_SA', 'COUNTRY_SL', 'COUNTRY_WI', 'COUNTRY_ZIM',
       'PLAYING ROLE_Batsman', 'PLAYING ROLE_Bowler', 'PLAYING ROLE_W. Keeper',
       'CAPTAINCY EXP_1'],
      dtype='object')
   T-RUNS  T-WKTS  ODI-RUNS-S  ODI-SR-BL    SR-B  SIXERS  RUNS-C  WKTS  \
0       0       0           0        0.0    0.00       0     307    15
1     214      18         657       37.6    0.00       0      29     0
2     571      58        1269       32.9  121.01       5    1059    29
3     284      31         241       36.8   76.32       0    1125    49
4      63       0          79        0.0  120.71      28       0     0

   AVE-BL   ECON  ...  COUNTRY_NZ  COUNTRY_PAK  COUNTRY_SA  COUNTRY_SL  \
0   20.47   8.90  ...           0            0           1           0
1    0.00  14.50  ...           0            0           0           0
2   36.52   8.81  ...           0            0           0           0
3   22.96   6.23  ...           0            0           0           0
4    0.00   0.00  ...           0            0           0           0

   COUNTRY_WI  COUNTRY_ZIM  PLAYING ROLE_Batsman  PLAYING ROLE_Bowler  \
0           0            0                     0                    0
1           0            0                     0                    1
2           0            0                     0                    1
3           0            0                     0                    1
4           0            0                     1                    0

   PLAYING ROLE_W. Keeper  CAPTAINCY EXP_1
0                       0                0
1                       0                0
2                       0                0
3                       0                0
4                       0                0

[5 rows x 26 columns]

5.add the costant coloumn to estimate beta 0 using

In [ ]:
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
X=sm.add_constant(ipl_encoded_df)
Y=ipl_df['SOLD PRICE']

train_X, test_X, train_Y, test_Y = train_test_split(X,Y,train_size=0.8,random_state=100)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

6.build the model on training set                ##ols model

In [ ]:
model1=sm.OLS(train_Y,train_X).fit()      ##fit is a built in fun,OLS is included for OLS model
model1.summary2()                         ##training dataset=r-squared

<class 'statsmodels.iolib.summary2.Summary'>
"""
                             Results: Ordinary least squares
=========================================================================================
Model:                      OLS                     Adj. R-squared:            0.361
Dependent Variable:         SOLD PRICE              AIC:                       2960.7942
Date:                       2022-11-02 03:43        BIC:                       3029.5483
No. Observations:           104                     Log-Likelihood:            -1454.4
Df Model:                   25                      F-statistic:               3.325
Df Residuals:               78                      Prob (F-statistic):        2.67e-05
R-squared:                  0.516                   Scale:                     1.0948e+11
-----------------------------------------------------------------------------------------
                          Coef.       Std.Err.     t    P>|t|      [0.025       0.975]
-----------------------------------------------------------------------------------------
const                   339026.7476 206996.4590  1.6378 0.1055   -73071.5461  751125.0412
T-RUNS                     -63.1561     28.1651 -2.2424 0.0278     -119.2285      -7.0838
T-WKTS                     444.0119    307.6991  1.4430 0.1530     -168.5700    1056.5938
ODI-RUNS-S                  71.6753     29.4319  2.4353 0.0172       13.0809     130.2696
ODI-SR-BL                -1238.6550   1444.1530 -0.8577 0.3937    -4113.7428    1636.4327
SR-B                         3.2143    558.6048  0.0058 0.9954    -1108.8825    1115.3110
SIXERS                    5418.3522   2089.3047  2.5934 0.0113     1258.8660    9577.8384
RUNS-C                     245.0501    324.6178  0.7549 0.4526     -401.2142     891.3144
WKTS                     -3489.9125   8020.1340 -0.4351 0.6647   -19456.7728   12476.9477
AVE-BL                    1184.2571   3455.1484  0.3428 0.7327    -5694.4149    8062.9291
ECON                     -3660.0746  12177.0026 -0.3006 0.7645   -27902.6245   20582.4753
SR-B                         3.2143    558.6048  0.0058 0.9954    -1108.8825    1115.3110
AGE_2                  -139268.9190 114575.4478 -1.2155 0.2278  -367371.1133   88833.2754
AGE_3                  -208178.6457 161731.5283 -1.2872 0.2018  -530161.3847  113804.0933
COUNTRY_BAN            -141263.6273 416091.4670 -0.3395 0.7351  -969638.1046  687110.8499
COUNTRY_ENG             653121.1138 231038.1442  2.8269 0.0060   193159.5017 1113082.7259
COUNTRY_IND              91359.4389 108281.5935  0.8437 0.4014  -124212.6541  306931.5318
COUNTRY_NZ               -8600.3199 167982.0439 -0.0512 0.9593  -343026.8795  325826.2398
COUNTRY_PAK             -56633.8669 177004.5232 -0.3200 0.7499  -409022.8031  295755.0693
COUNTRY_SA              -87621.7485 129420.9684 -0.6770 0.5004  -345279.1041  170035.6070
COUNTRY_SL              -85141.3167 158691.3584 -0.5365 0.5931  -401071.5424  230788.9090
COUNTRY_WI             -351029.9666 210335.5314 -1.6689 0.0991  -769775.8426   67715.9095
COUNTRY_ZIM            -350744.2921 379872.5647 -0.9233 0.3587 -1107012.4740  405523.8898
PLAYING ROLE_Batsman    109660.1170 125086.9984  0.8767 0.3834  -139368.9671  358689.2011
PLAYING ROLE_Bowler      42476.4132 112475.9197  0.3776 0.7067  -181445.9418  266398.7683
PLAYING ROLE_W. Keeper  -42387.1856 177778.1742 -0.2384 0.8122  -396316.3426  311541.9713
CAPTAINCY EXP_1         223631.9198 124616.3614  1.7946 0.0766   -24460.1981  471724.0376
-----------------------------------------------------------------------------------------
Omnibus:                  4.553            Durbin-Watson:               1.774
Prob(Omnibus):            0.103            Jarque-Bera (JB):            3.912
Skew:                     0.441            Prob(JB):                    0.141
Kurtosis:                 3.351            Condition No.:               12462330804275052
=========================================================================================
* The condition number is large (1e+16). This might indicate             strong
multicollinearity or other numerical problems.
"""

7.validation this model on the test data.find the re

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

pred_Y=model1.predict(test_X)
print("the r2_score of model is", np.abs(r2_score(test_Y,pred_Y)))
print("the RMSE of the trained model is" , np.sqrt(mean_squared_error(test_Y,pred_Y)))
print("the model parameters are")
print(model1.params)

the r2_score of model is 0.3532913164347159
the RMSE of the trained model is 303679.01685382315
the model parameters are
const                     339026.747563
T-RUNS                       -63.156148
T-WKTS                       444.011868
ODI-RUNS-S                    71.675261
ODI-SR-BL                  -1238.655037
SR-B                           3.214264
SIXERS                      5418.352198
RUNS-C                       245.050071
WKTS                       -3489.912537
AVE-BL                      1184.257127
ECON                       -3660.074592
SR-B                           3.214264
AGE_2                    -139268.918976
AGE_3                    -208178.645702
COUNTRY_BAN              -141263.627314
COUNTRY_ENG               653121.113830
COUNTRY_IND                91359.438880
COUNTRY_NZ                 -8600.319878
COUNTRY_PAK               -56633.866874
COUNTRY_SA                -87621.748548
COUNTRY_SL                -85141.316716
COUNTRY_WI               -351029.966570
COUNTRY_ZIM              -350744.292123
PLAYING ROLE_Batsman      109660.116979
PLAYING ROLE_Bowler        42476.413222
PLAYING ROLE_W. Keeper    -42387.185636
CAPTAINCY EXP_1           223631.919755
dtype: float64

8.find the variable which are statistically signifiently influencing the responce time where it infulance if alpha is < (0.05)

In [ ]:
s=model1.pvalues
   #pvalues built in
vars=list(s.index)    #s.index returns the varable names of the pandas series

In [ ]:
pvals=list(s)

In [ ]:
#print(pvals)
new=[i for i in zip(vars,pvals)]
print("list of all variables and their pvalues is",new)
important_vars=[i[0] for i in new if i[1] < 0.05]
print("list of influencing variables is",important_vars)

list of all variables and their pvalues is [('const', 0.1054836300613482), ('T-RUNS', 0.02777833321556694), ('T-WKTS', 0.15302267320163618), ('ODI-RUNS-S', 0.017162171793004943), ('ODI-SR-BL', 0.3936840316123612), ('SR-B', 0.9954236147152467), ('SIXERS', 0.011345629628398692), ('RUNS-C', 0.4525894569844666), ('WKTS', 0.664659639130089), ('AVE-BL', 0.7327074252714914), ('ECON', 0.7645400420488265), ('SR-B', 0.9954236146957804), ('AGE_2', 0.2278335318945471), ('AGE_3', 0.20183587219972693), ('COUNTRY_BAN', 0.7351444922671289), ('COUNTRY_ENG', 0.005968666070606691), ('COUNTRY_IND', 0.40140555660844623), ('COUNTRY_NZ', 0.9592987500469126), ('COUNTRY_PAK', 0.7498562785563648), ('COUNTRY_SA', 0.5003905897028418), ('COUNTRY_SL', 0.5931251940375983), ('COUNTRY_WI', 0.09914564162567419), ('COUNTRY_ZIM', 0.3586874488892784), ('PLAYING ROLE_Batsman', 0.383357529737717), ('PLAYING ROLE_Bowler', 0.7067170798065262), ('PLAYING ROLE_W. Keeper', 0.8121749049057769), ('CAPTAINCY EXP_1', 0.07659770501210895)]
list of influencing variables is ['T-RUNS', 'ODI-RUNS-S', 'SIXERS', 'COUNTRY_ENG']

9.train new model with these significient variables

In [ ]:
train_X =train_X[important_vars]
model2=sm.OLS(train_Y,train_X).fit()      ##fit is a built in fun,OLS is included for OLS model
model2.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Ordinary least squares
================================================================================
Model:                  OLS              Adj. R-squared (uncentered): 0.589
Dependent Variable:     SOLD PRICE       AIC:                         2995.4076
Date:                   2022-11-02 04:46 BIC:                         3005.9852
No. Observations:       104              Log-Likelihood:              -1493.7
Df Model:               4                F-statistic:                 38.23
Df Residuals:           100              Prob (F-statistic):          2.22e-19
R-squared (uncentered): 0.605            Scale:                       1.8184e+11
---------------------------------------------------------------------------------
                Coef.       Std.Err.      t     P>|t|      [0.025       0.975]
---------------------------------------------------------------------------------
T-RUNS          -24.5435      29.9336  -0.8199  0.4142     -83.9309       34.8439
ODI-RUNS-S       71.6227      31.0664   2.3055  0.0232       9.9878      133.2577
SIXERS        11229.5350    1772.1500   6.3367  0.0000    7713.6397    14745.4302
COUNTRY_ENG  842267.7422  250619.1096   3.3607  0.0011  345046.5667  1339488.9176
--------------------------------------------------------------------------------
Omnibus:                    3.541             Durbin-Watson:               1.272
Prob(Omnibus):              0.170             Jarque-Bera (JB):            3.302
Skew:                       -0.218            Prob(JB):                    0.192
Kurtosis:                   3.757             Condition No.:               30838
================================================================================
* The condition number is large (3e+04). This might indicate             strong
multicollinearity or other numerical problems.
"""

10.making validation

In [ ]:
new_test_X = test_X[train_X.columns]
pred_Y =model2.predict(new_test_X)

11.find r2 score and rmse of this prediction by model2

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

print("the r2_score of model is", np.abs(r2_score(test_Y,pred_Y)))
print("the RMSE of the trained model is" , np.sqrt(mean_squared_error(test_Y,pred_Y)))
print("the model parameters are")
print(model2.params)

the r2_score of model is 0.44422846300365393
the RMSE of the trained model is 453814.5213125207
the model parameters are
T-RUNS            -24.543529
ODI-RUNS-S         71.622731
SIXERS          11229.534962
COUNTRY_ENG    842267.742153
dtype: float64